{% extends "users/blank.html" %}
{% load crispy_forms_tags %}
{% load static %}

    {% block title %}
    <title>Login</title>
    {% endblock %}

    {% block image%}
      <div class="flex-grow-1 bg-register-image" style="background-image: url({% static '/img/dogs/image3.jpeg' %})"></div>
    {% endblock %}
                              {% block heading%}
                                <h4 class="text-dark mb-4">Welcome back!</h4>
                                {% endblock %}


                            {% block content %}
                              <div class="content-section">
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">

                                        {{ form|crispy }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">Sign In</button>
                                    </div>
                                </form>

                                </div>

                                {% endblock %}


                              {% block ending%}
                              <div class="text-center"><a class="small" href="#">Forgot Password?</a></div>
                              <div class="text-center"><a class="small" href="{% url 'register' %}">Don't have an account? Sign Up!</a></div>
                              {%endblock%}
