{% extends "app/blank.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">

  <div class="content-section">

    <div class="media">
      <div class="card-body text-center shadow">
        <img class="rounded-circle mb-3 mt-4" src="{{ user.profile.image.url }}" width="160" height="160">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>




    <div class="card-group">

      <div class="card">

        <div class="card-body"></div>
      </div>

        <div class="card">
          <div class="card-body shadow text-center">
            <div class="card-body p-0">
            <h4 class="card-title">Profile Info</h4>

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}



                      <fieldset class="form-group">
                          {{ u_form|crispy }}
                          {{ p_form|crispy }}
                      </fieldset>
                      <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                      </div>




            </form>



          </div>
          </div>
        </div>


          <div class="card">
            <div class="card-body"></div>
          </div>

  </div>
</div>

{% endblock %}
