{% extends "users/blank.html" %}
{% load crispy_forms_tags %}
{% load static %}

    {% block title %}
    <title>Register</title>
    {% endblock %}

    {% block image%}
      <div class="flex-grow-1 bg-register-image" style="background-image: url({% static '/img/dogs/image2.jpeg' %})"></div>
    {% endblock %}
                              {% block heading%}
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                                {% endblock %}


                            {% block content %}
                              <div class="content-section">
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">

                                        {{ form|crispy }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                                    </div>
                                </form>

                                </div>

                                {% endblock %}


                              {% block ending%}
                              <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                              <div class="text-center"><a class="small" href="{% url 'login' %}">Already have an account? Login!</a></div>
                              {%endblock%}
